/* ===============================
   Colour Palette:
   ---------------
   Light Cream:	#f2f3ee
   Orange:			#d17f38
   Yellow:			#e8c04f
   Brown:			#4b2707
   =============================== */

/* General */

body {
   -webkit-font-smoothing: antialiased;
   text-rendering: optimizelegibility;
   font-family:  'Open Sans';
   background-image: url("/home/barragan/donat/Squelette/images/bg-tile.gif");

  
 
}

.container {
   max-width: 800px;
   margin: auto;
   text-align: center;

 
}


/* Typography */

h1, h2 {
      color: #d17f38;

}

h1 {
   color: #d17f38;
   background: no-repeat bottom center url('../images/header-divider.png');
   padding-bottom: 20px;
   font-size: 38px;
}

h1 em {
   color: #4b2707;
   font-style: normal;
}

h2 {

}

h3 {

}

p.lead {
   text-align: center;
   font-size: 25px;

}

p {
   font-size: 12px;

}

a:link, a:visited {
   color: #d17f38;
   text-decoration: none;

}

a:hover {

}

hr {
   display: flex;
   flex-direction: row;
   justify-content: flex-end;
 
   background-color: grey;
   flex: 100%;


   height: 20px;
   
   background-image: url("/home/barragan/donat/Squelette/images/divider.png");
   background-size: contain;
   background-repeat: no-repeat;
   
   
 

}


/* Header */

header nav {

}

header nav ul {
   display: flex;
   flex-direction: row;
   justify-content: center;
   margin: 50px;
   margin-top: 70px;


}

header nav ul li {
   list-style-type: none;

   padding-left: 20px;

}

header nav ul li a {
    
    padding: 10px;

}

header nav ul li a:hover {

}

header nav ul li#logo a {
    background-image: url("/home/barragan/donat/Squelette/images/logo.png");
    color: transparent;
    background-color: transparent;
 
    background-size: cover;
    padding: 40px;


}

header nav ul li#logo a:hover {
      background-image: url("/home/barragan/donat/Squelette/images/logo-hover.png");

}


/* Hero */

#hero {
   background-image: url("/home/barragan/donat/Squelette/images/bg-tile-yellow.gif");
   background-repeat: repeat;
   padding: auto;
   justify-content: center;
   display: flex;



}

#hero .container {  
   
   padding: 20px;
   width: 60%;
   display: flex;
   justify-content: center;

}

#hero .large-ribbon {
   flex: none;
   position: absolute;
   top: 120px;
   right: 140px;
   background-image: url("/home/barragan/donat/Squelette/images/fresh-whole-ingredients.png");
   color: transparent;
   background-size: contain;
   background-repeat: no-repeat;
   height: 100%;
  

}


/* The Whole Story */

#story-excerpt {
   display: block;
   
   width: 30%;
   padding-left: 12%;
  

}

#best-donut {

   padding-top: 10px;
   position: relative;
   bottom: 130px;
   display: block;
   float: right;
   width: 25%;
   padding-right:12%; 

   background-image: url("/home/barragan/donat/Squelette/images/award.png");
   background-repeat: no-repeat;
   background-size: contain;
   background-position: left;
   padding-left: 15%;
   

}
/* News & Events */

#articles {
   padding: 0 10% 0 10%;


}

#feature-image {
 
   width: 45%;
   float: right;
   position: relative; 
   bottom: 370px;


}

#news-events article {
   width: 35%;

  
 


   

}

#news-events article.news {
   display: inline-block;
   width: 100%;
   background-image: url("/home/barragan/donat/Squelette/images/icon-news.png");
   background-size: contain;
   background-repeat: no-repeat;
   padding-left: 150px;

}

#news-events article.event {

}

#news-events header time {

}

#news-events section.excerpt {


}

#news-events footer {

}


/* Footer */

footer.main {

}

footer.main a:hover {

}

#uncopyright, #credits {

}

#uncopyright {

}

#credits {

}


/* Force Elements to Self Clear its Children: http://css-tricks.com/snippets/css/clear-fix/ */

.clearfix:after {
	visibility: hidden;
	display: block;
	content: "";
	clear: both;
	height: 0;
	}
* html .group             { zoom: 1; } /* IE6 */
*:first-child+html .group { zoom: 1; } /* IE7 */





