/* ===============================
   Colour Palette:
   ---------------
   Light Cream:	#f2f3ee
   Orange:			#d17f38
   Yellow:			#e8c04f
   Brown:			#4b2707
   =============================== */

/* General */

body {
   -webkit-font-smoothing: antialiased;
   text-rendering: optimizelegibility;
   font-family: 'Open Sans', sans-serif;
   margin:0;
}

.container {
   max-width: 800px;
   margin: auto;
   text-align: center;
}


/* Typography */

h1, h2 {
   font-family: 'Love Ya Like A Sister';

}

h1 {
   color: #d17f38;
   background: no-repeat bottom center url('../images/header-divider.png');
   padding-bottom: 20px;
   font-size: 38px;
}

h1 em {
   color: #4b2707;
   font-style: normal;
}

h2 {

}

h3 {

}

p.lead {
   font-size: 25px;

}

p {

}

a:link, a:visited {
   color: #d17f38;

}

a:hover {

}

hr {
   background: no-repeat url("../images/divider.png");
   display:block;
   border:none;
   height:50px;
   background-position: center;
}


/* Header */

header nav {

}

header nav ul {
   display: flex;
   flex-direction: row;
   justify-content: center;
   margin: 50px;
   margin-top: 70px;


}

header nav ul li {
   list-style-type: none;

   padding-left: 20px;

}

header nav ul li a {
    
    padding: 10px;

}

header nav ul li a:hover {

}

header nav ul li#logo a {
    background-image: url("/home/barragan/donat/Squelette/images/logo.png");
    color: transparent;
    background-color: transparent;
 
    background-size: cover;
    padding: 40px;


}

/* Hero */

#hero {
   background-image: url("../images/bg-tile-yellow.gif");
}

#hero .container {
   display: flex;
}

#hero .large-ribbon {
   background-image: url("../images/fresh-whole-ingredients.png");
   background-repeat: no-repeat;
   position: absolute;
   top: 15%;
   left: 67%;
   width: 100%;
   height: 100%;
}


/* The Whole Story */

#story-excerpt {
   float: left;
   text-align: left;
   width: 50%;
   font-size: 12px;
}

#best-donut {
   background: no-repeat url("../images/award.png");
   float: right;
   width: 30%;
   padding-top: 10px;
   padding-left: 130px;
   font-size: 12px;

}

/* News & Events */

#articles {
   padding: 0 10% 0 10%;


}

#feature-image {
 
   width: 45%;
   float: right;
   position: relative; 
   bottom: 370px;


}

#news-events article {
   width: 35%;

  
 


   

}

#news-events article.news {
   display: inline-block;
   width: 100%;
   background-image: url("/home/barragan/donat/Squelette/images/icon-news.png");
   background-size: contain;
   background-repeat: no-repeat;
   padding-left: 150px;

}

#news-events article.event {

}

#news-events header time {

}

#news-events section.excerpt {


}

#news-events footer {

}



/* Footer */

footer.main {
   background-image: url("../images/bg-tile-brown.gif");
   background-size: cover;
   background-color: transparent;


}

footer.main a:hover {

}

#uncopyright, #credits {

}

#uncopyright {

}

#credits {

}


/* Force Elements to Self Clear its Children: http://css-tricks.com/snippets/css/clear-fix/ */

.clearfix:after {
	visibility: hidden;
	display: block;
	content: "";
	clear: both;
	height: 0;
	}
* html .group             { zoom: 1; } /* IE6 */
*:first-child+html .group { zoom: 1; } /* IE7 */





